<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tailwind Test</title>
    <link href="/style.css" rel="stylesheet">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-LL6XV83QTC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-LL6XV83QTC');
</script>
</head>
<body class="bg-gray-700 text-white text-center py-10">
    <div class="flex items-center justify-center min-h-screen bg-gray-800">
    <video width="600" class="" autoplay loop muted controls>
        <source src="/videos/Jake.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    </div>
</body>
</html>
